// variable color
$color-black-0: #222;
$color-white-0: #fff;
$color-organge: #fb4226;
$color-orange-1: #fa5238;
$color-gray: #949494;
$color-gray-1: #9b9b9b;
$color-gray-2: #4a4a4a;
$color-red-0: #ec5252;
$color-blue-1: #60c5ef;
$color-green: #00ac4d;
//font-size
$fs-0: 14px;
$fs-1: 16px;
$fs-2: 24px;
//line-height
$lh-0: 14px;
$lh-3: 22px;
$lh-2: 24px;
$lh-1: 1.1;

//padding
$pd-0: 10px;
$pd-1: 15px;

//margin
$margin-0: 8px;
$margin-1: 15px;
$margin-3: 55px;

//break points
$breakpoints: (
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px,
);
